# LaTeX temporary files
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
Versuch 2/main.aux
Versuch 2/main.aux
Versuch 2/main.bcf
Versuch 2/main.fdb_latexmk
Versuch 2/main.fls
Versuch 2/main.fdb_latexmk
Versuch 2/main.fls
Versuch 2/main.log
Versuch 2/main.out
.gitignore
